<div class="input-group rounded-0 mb-3">
    <app-input class="col-3" placeholder="Filtra..." [(ngModel)]="filterBy" [contentFirst]="true" bgColor="#fff">
        <ng-icon name="heroMagnifyingGlass" class="me-2"></ng-icon>
    </app-input>
</div>

<div class="group_list mt-1 scrollY px-1">
    <ng-template ngFor let-group [ngForOf]="groupList | filter: 'groupName': filterBy | sort">
        <mat-card class="rounded-4 user-select-none mb-3 shadow" (click)="editGroup(group.id)" [ngClass]="{'border border-warning': group.warning}">
            <mat-card-header class="mb-2 d-flex justify-content-between align-items-center">
                <mat-card-title class="d-flex align-items-center">
                    <ng-icon class="me-2 text-warning" name="heroExclamationTriangle" [ngClass]="{'d-none': !group.warning}"></ng-icon>
                    <h3 class="m-0 fw-bold fs-6">{{ group.groupName }}</h3>
                    <app-group-menu [groupId]="group.id" (ngModelChange)="$event.stopPropagation()"></app-group-menu>
                </mat-card-title>
                <mat-card-subtitle style="padding-left: 27px;" [ngClass]="{'d-block': !group.warning}">{{ group.warning }}</mat-card-subtitle>
                <app-users [users]="group.users"></app-users>
            </mat-card-header>
            <mat-card-content>
                <app-services [functions]="group.functions" [inactive]="!!group.warning"></app-services>
            </mat-card-content>
        </mat-card>
    </ng-template>
</div>

<div class="d-flex justify-content-end mt-2">
    <a [routerLink]="['/group-add']" class="btn btn-primary d-flex align-items-center">
        <span class="me-1 fw-normal fs-6">Nuovo gruppo</span>
        <ng-icon name="heroPlusCircle"></ng-icon>
    </a>
</div>