<h1 class="fs-3">
    <a href="" class="fs-3 text-decoration-none">Gruppi di firma ></a>
    Gruppo di firma per desposizioni
</h1>
<form [formGroup]="groupForm" (ngSubmit)="salva()">
    <!--dettagli-->
    <div class="p-3 rounded-4 shadow bg-white position-relative">
        <h4 class="fw-bold">Dettagli gruppo di firma</h4>
        <div class="d-flex">
            <div class="col-xl-6 col-lg-8 col-12 d-flex dettagli_content">
                <div class="w-50 me-2 d-flex flex-wrap align-content-end">
                    <h5 class="m-1 text-muted w-100">Nome gruppo</h5>
                    <app-input class="w-100" type="text" formControlName="groupName" [required]="true"></app-input>
                </div>
                <div class="w-50 d-flex">
                    <div class="w-50 me-1 d-flex flex-wrap align-content-end">
                        <h5 class="m-1 text-muted w-100">Soglia minima servizi</h5>
                        <app-input class="w-100" type="number" formControlName="minValue" [required]="true" [min]="1">
                            <div class="text-muted m-0 d-flex align-items-center">EUR</div>
                        </app-input>
                    </div>
                    <div class="w-50 ms-1 d-flex flex-wrap align-content-end">
                        <h5 class="m-1 text-muted w-100">Soglia massima servizi</h5>
                        <app-input class="w-100" type="number" formControlName="maxValue" [required]="true" [min]="1">
                            <div class="text-muted m-0 d-flex align-items-center">EUR</div>
                        </app-input>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-end justify-content-end ms-2 users">
                <app-users [users]="users.value | filter : 'checked' : true" [limit]="4"></app-users>
            </div>
        </div>
    </div>
    <!-- {{ groupForm.controls.groupName.value }} -->
    
    <div class="d-flex mt-2 form_group">
        <!--abilita e servizi-->
        <div class="p-3 border rounded-4 shadow bg-white ms-1 form_group_item">
            <h4 class="fw-bold mb-1">Abilita servizi per gruppo di firma</h4>
            <h5 class="text-muted">Seleziona i servizi e imposta la relativa soglia</h5>
            <div class="scrollY">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"><h5 class="text-muted m-0">Servizio</h5></th>
                            <th scope="col"><h5 class="text-muted m-0">Soglia minima</h5></th>
                            <th scope="col"><h5 class="text-muted m-0">Soglia massima</h5></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container formArrayName="functions">
                            <ng-container *ngFor="let function of functions.controls; let idx = index">
                                    <tr class="align-middle" [formGroupName]="idx">
                                        <td class="col-6">
                                            <label class="w-100">
                                                <app-switch #checkbox formControlName="checked" class="pe-2"></app-switch>
                                                <span [ngClass]="{'text-muted': !checkbox.checked}">{{ function.value.title }}</span>
                                            </label>
                                        </td>

                                        <td class="col-3">
                                            <ng-container *ngIf="!groupForm.disabled else templateMin">
                                                <app-input type="number" formControlName="minValue" [readonly]="!checkbox.checked"
                                                [warning]="checkbox.checked && (function.value.minValue !== groupForm.controls.minValue.value)">
                                                    <div class="form-label text-muted m-0 d-flex align-items-center">EUR</div>  
                                                </app-input>
                                            </ng-container>

                                            <ng-template #templateMin>
                                                <div class="p-1 d-flex justify-content-between ms-1" *ngIf="function.value.checked">
                                                    <div class="d-flex align-items-center"
                                                    [ngClass]="{'text-warning': checkbox.checked && (function.value.minValue !== groupForm.controls.minValue.value)}">
                                                        <ng-icon *ngIf="checkbox.checked && (function.value.minValue !== groupForm.controls.minValue.value)"
                                                        name="heroExclamationTriangle" class="me-1"></ng-icon>
                                                        <div> {{ function.value.minValue }} </div>
                                                    </div>
                                                    <div class="text-muted ms-1 d-flex align-items-center">EUR</div>
                                                </div>
                                            </ng-template>
                                        </td>

                                        <td class="col-3">
                                            <ng-container *ngIf="!groupForm.disabled else templateMax">
                                                <app-input type="number" formControlName="maxValue" [readonly]="!checkbox.checked"
                                                [warning]="checkbox.checked && (function.value.maxValue !== groupForm.controls.maxValue.value)">
                                                    <div class="text-muted m-0 d-flex align-items-center">EUR</div>
                                                </app-input>
                                            </ng-container>

                                            <ng-template #templateMax>
                                                <div class="p-1 d-flex justify-content-between ms-1" *ngIf="function.value.checked">
                                                    <div class="d-flex align-items-center"
                                                    [ngClass]="{'text-warning': checkbox.checked && (function.value.maxValue !== groupForm.controls.maxValue.value)}">
                                                        <ng-icon *ngIf="checkbox.checked && (function.value.maxValue !== groupForm.controls.maxValue.value)"
                                                        name="heroExclamationTriangle" class="me-1"></ng-icon>
                                                        <div> {{ function.value.maxValue }} </div>
                                                    </div>
                                                    <div class="text-muted ms-1 d-flex align-items-center">EUR</div>
                                                </div>
                                            </ng-template>
                                        </td>
                                    </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <!--utenti da aggiungere al gruppo-->
        <div class="p-3 border rounded-4 shadow bg-white ms-1 form_group_item">
            <h4 class="fw-bold mb-1">Seleziona i utenti da aggiungere al gruppo</h4>
            <h5 class="text-muted">Sono disponibili solo gli utenti dispositivi</h5>
            <div class="w-50 mb-1 search_users">
                <app-input placeholder="Filtra..." formControlName="filterUser"></app-input>
            </div>
            <div class="scrollY">
                <ul class="list-group mt-2" formArrayName="users">
                    <ng-container *ngFor="let user of users.controls | filter: 'fullName': groupForm.value.filterUser; let idx = index">
                        <li class="list-group-item border-0 d-flex" [formGroupName]="idx">
                            <label class="d-flex w-100 align-items-center">
                                <input type="checkbox" name="user_input" id="user_input" formControlName="checked">
                                <div class="user rounded-circle d-flex justify-content-center align-items-center ms-3 text-uppercase">
                                    {{ user.value.userInitials}}
                                </div>
                                <div class="ms-3 fw-normal" [ngClass]="{'text-muted': groupForm.disabled}">
                                    {{ user.value.fullName }}
                                </div>
                            </label>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-2">
        <button class="btn btn-link text-decoration-none"
        [routerLink]="['/']">Indietro</button>

        <button type="submit" *ngIf="!disabled"
        class="btn btn-primary d-flex align-items-center ms-2">
            <span class="me-1 fw-normal fs-6">Salva</span>
        </button>

        <button type="button" *ngIf="disabled" (click)="enable()"
        class="btn btn-primary d-flex align-items-center ms-2">
            <span class="me-1 fw-normal fs-6">Modifica</span>
        </button>
    </div>
</form>
<!-- {{ groupForm.controls.functions.value[0] | json}} -->